.main
  .top_contents
    .top_contents__header
      .top_contents__header__title
        ユーザー登録して早速初めてみよう。
    .top_contents__main
      .top_contents__main__text
        TaskWith
      .top-content1
        .top-img1
          = image_tag 'taskwith1.png', width: "200"
        .top-text1
          %P 
            自宅で、一人で、
            %br             
            集中して作業するのって
      .top-content2
        .top-text2
          %p 案外難しくないですか？
        .top-img2 
          = image_tag 'taskwith3.png', width: "200"
      .top_contents__main__text2
        %p そんな時一緒に集中してくれる誰かがいれば
      .top-content3
        .top-text3
        .top-img3
          = image_tag 'taskwith2.png'
      .top_contents__main__text3
        %p 早速初めてみよう。
      .top-content4
        .top-text4
        .top-img4
          = image_tag 'taskwith4.png', width: "200", class: "img-left"
        .top-img5
          = image_tag 'taskwith5.png', width: "200", class: "img-center"
        .top-img6
          = image_tag 'taskwith6.png', width: "200", class: "img-right"
    .top_contents__footer