.side_bar
  .side_bar__content
    %ul.side_bar__content__list
      %li
        = link_to "Top", root_path ,class: "side_bar__content__"
      %li
        = link_to "Login", new_user_session_path ,class: "side_bar__content__"
      %li
        = link_to "Signin", new_user_registration_path,class: "side_bar__content__"
      %li
        = link_to "Room", rooms_path ,class: "side_bar__content__"
      %li
        = link_to "Recoed", root_path ,class: "side_bar__content__"
      %li
        = link_to "Contact", root_path ,class: "side_bar__content__"
        .side_bar__content__list__bottom
          %ul.side_bar__icons
            %li
              = link_to root_path, class: "saide-bar__icon" do
                = icon('fas', 'user-edit')
            %li
              = link_to root_path, class: "saide-bar__icon" do
                = icon('fas', 'door-open')

