.side_bar
  .side_bar__content
    .side_bar__content__inner
      %ul.side_bar__content__inner__list
        - if user_signed_in?
          %li.side_bar__content__inner__list__link
            = link_to "Top", root_path
          %li.side_bar__content__inner__list__link
            = link_to "Room", rooms_path
          %li.side_bar__content__inner__list__link
            = link_to "Record", records_path
          %li.side_bar__content__inner__list__link
            = link_to "Ranking", rankings_path
          %li.side_bar__content__inner__list__link
            = link_to "Contact", root_path
            .side_bar__content__inner__list__bottom
              %ul.side_bar__icons
                %li
                  = link_to root_path, class: "saide-bar__icon" do
                    = icon('fas', 'user-edit')
                %li
                  = link_to destroy_user_session_path, method: :delete, class: "saide-bar__icon" do
                    = icon('fas', 'door-open')
        - else 
          %li.side_bar__content__inner__list__link
            = link_to "Top", root_path
          %li.side_bar__content__inner__list__link
            = link_to "Login", new_user_session_path
          %li.side_bar__content__inner__list__link
            = link_to "Signin", new_user_registration_path
          %li.gest_login
            = link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, method: :post
