!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title Taskwith
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    %script{src: "https://cdn.webrtc.ecl.ntt.com/skyway-latest.js" }
    = javascript_include_tag 'application'
    

  %body
    %p.notice
      = notice
    %p.notice
      = alert
    = yield
